
@{
    ViewBag.Title = "ForgotPassword";
}

<h2 @Html.Raw(ViewBag.Display)>Forgot your Password?</h2>
<h4>@ViewBag.Response</h4>

<div @Html.Raw(ViewBag.Display)>
    @using (Html.BeginForm("ForgotPassword", "Home"))
    {
        <label>Email</label>
        <input type="text" name="email" value="email@domain.com" />
        <input type="submit" value="Reset" />
    }
    @Html.Raw(ViewBag.FakeEmailMessage)
</div>