@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>
<hr/>
<h4>Email: </h4>

@using (Html.BeginForm("ResetPassword", "Home"))
{
    <input type="text" name="email" />
    <input type="submit" value="Submit" />
}
@Html.Raw(ViewBag.FakeEmailMessage)
